<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter your username" required><br><br>
        <input type="password" name="password" placeholder="Enter your password" required><br><br>
        <input type="password" name="confirm" placeholder="confirm your password" required><br><br>
        <button type="submit">Register</button>
    </form>
    {% if result %}
      <h2 style="color:red">Error:{{result}}</h2>
    {%  endif %}
    <p>already have an account</p>
    <a href="{% url 'login' %}">login</a>
    
</body>
</html>